@charset "UTF-8";

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-ExtraBold.woff2") format("woff2"), url("../fonts/Poppins-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-l:before {
  content: "\e901";
}

._icon-arrow-r:before {
  content: "\e902";
}

._icon-clock:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-logo:before {
  content: "\e905";
}

._icon-mail:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-point:before {
  content: "\e908";
}

._icon-slider-arrow-l:before {
  content: "\e909";
}

._icon-slider-arrow-r:before {
  content: "\e90a";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #6c6c6c;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

._icon-logo {
  margin: 0 12px 0 0;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  min-height: 82px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  line-height: 133.3333333333%;
  color: inherit;
  position: relative;
  z-index: 5;
}

.header__menu {
  padding: 0 25px;
}

.menu__item {
  margin: 0px 25px;
  padding: 5px 0;
}

.menu__link {
  font-size: 14px;
  line-height: 171.4285714286%;
  font-weight: 600;
  color: inherit;
}

.menu__link._active {
  color: #00a031;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #222222;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 345px;
}

.footer__logo {
  font-size: 46px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.footer-copyright {
  font-size: 14px;
  line-height: 171.4285714286%;
  color: #777777;
}

.menu-footer__link {
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  letter-spacing: 3px;
  color: #777777;
}

.menu-footer__link:hover {
  color: #00a031;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer__list > *:not(:last-child) {
  margin: 0 25px 0 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__services {
  margin-bottom: 300px;
  padding: 0 10px;
}

.page__contact-us {
  padding: 0 10px;
}

#myLine {
  position: absolute;
  top: 0;
  left: 310px;
  z-index: 5;
  max-width: 100%;
  height: 100%;
}

._no-webp .point{
  background-image: url(../img/services/point.png); }

.point {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 200px;
  height: 200px;
}

.services__classification {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__compensation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__container {
  position: relative;
}

.services__container > *:not(:last-child) {
  margin: 0 0 155px 0;
}

.services__tracking {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tracking__desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
}

.tracking__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  z-index: 10;
  display: block;
  margin: 0 auto;
}

.classification__desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
}

.compensation__desc__desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;
}

._icon-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._icon-point::before {
  color: #29a0ec;
  margin: 0 15px 0 0;
}

.services-button {
  color: #00a031;
  border: 2px solid #00a031;
  border-radius: 50px;
  padding: 15px 35px 15px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
}

.services-button:hover {
  background-color: #00a031;
  color: #fff;
}

._icon-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

._icon-arrow::before {
  font-size: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 0 15px;
}

.desc__text {
  font-size: 16px;
  line-height: 150%;
}

.desc__text > p {
  margin-bottom: 20px;
}

.desc__text > ul {
  margin-bottom: 30px;
}

.desc__title {
  font-weight: 900;
  line-height: 134.2105263158%;
  color: #00a031;
  margin-bottom: 40px;
  font-size: 38px;
}

.img-phoneL {
  position: absolute;
  top: 0;
  left: 65px;
}

.img-phoneR {
  position: absolute;
  top: -52px;
  left: -44px;
}

#map {
  height: 761px;
  max-width: 100%;
}

._activeMap {
  -webkit-box-shadow: 10px 15px 10px 5px rgba(108, 108, 108, 0.2), -1px -1px 10px 5px rgba(108, 108, 108, 0.2);
          box-shadow: 10px 15px 10px 5px rgba(108, 108, 108, 0.2), -1px -1px 10px 5px rgba(108, 108, 108, 0.2);
}

.contact-us__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.contact-us__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us__department {
  margin: 0 0 0 12px;
  padding: 24px 10px 24px 57px;
}

.contact-us__info {
  position: absolute;
  top: 17%;
  right: 20px;
  background-color: #fff;
  max-width: 320px;
  height: 495px;
}

.contact-us__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666%;
          flex: 0 0 66.666%;
  padding-right: 120px;
}

.contact-us__text {
  color: #6c6c6c;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 60px;
}

.contact-us__title {
  color: #00a031;
  font-size: 52px;
  line-height: 115.3846153846%;
  font-weight: bold;
  margin-bottom: 12px;
}

.department {
  position: relative;
  width: 270px;
  height: 128px;
  cursor: pointer;
}

.department::before {
  content: "";
  background-image: url(../img/icons/place.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 24px;
  left: 14px;
  display: block;
  height: 24px;
  width: 24px;
  color: #777777;
}

.department__location {
  font-size: 16px;
}

.department__title {
  color: #00a031;
  font-weight: 600;
  font-size: 18px;
  line-height: 155.5555555556%;
  margin-bottom: 12px;
}

.info {
  -webkit-box-shadow: 2px 15px 10px 5px rgba(108, 108, 108, 0.2);
          box-shadow: 2px 15px 10px 5px rgba(108, 108, 108, 0.2);
}

.info__body {
  padding: 28px 56px 0 56px;
}

.info__body > *:not(:last-child, .info__title, .info__text) {
  margin: 0 0 20px 0;
}

.info__text {
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 30px;
}

.info__title {
  font-weight: 900;
  text-align: center;
  font-size: 38px;
  line-height: 134.2105263158%;
  color: #1c201e;
}

._icon-mail::before,
._icon-clock::before,
._icon-phone::before {
  margin: 0 15px 0 0;
  color: #00a031;
  font-size: 20px;
  width: 20px;
}

.mail__address {
  font-size: 14px;
  color: #999999;
  line-height: 171.4285714286%;
}

.mail__title {
  color: #1c201e;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.mail__title::before {
  font-size: 15px;
}

.phone__numbers {
  font-size: 14px;
  color: #999999;
  line-height: 171.4285714286%;
}

.phone__title {
  color: #1c201e;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.worktime__timetable {
  font-size: 14px;
  color: #999999;
  line-height: 171.4285714286%;
}

.worktime__timetable_bold {
  color: #222222;
}

.worktime__title {
  color: #1c201e;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1024px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 1230px) {
  .footer__body {
    height: calc(
        200px + 145 *
          ((100vw - 320px) / 910)
      );
  }

  .footer__logo {
    font-size: calc(
        24px + 22 *
          ((100vw - 320px) / 910)
      );
  }

  .footer-copyright {
    font-size: calc(
        8px + 6 *
          ((100vw - 320px) / 910)
      );
  }

  .menu-footer__link {
    font-size: calc(
        8px + 8 *
          ((100vw - 320px) / 910)
      );
  }

  .services-button {
    font-size: calc(
        10px + 8 *
          ((100vw - 320px) / 910)
      );
  }

  .desc__text {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 910)
      );
  }

  .desc__title {
    font-size: calc(
        19px + 19 *
          ((100vw - 320px) / 910)
      );
  }

  .contact-us__text {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 910)
      );
  }

  .contact-us__title {
    font-size: calc(
        45px + 7 *
          ((100vw - 320px) / 910)
      );
  }

  .department {
    width: calc(
        200px + 70 *
          ((100vw - 320px) / 910)
      );
  }

  .department {
    height: calc(
        90px + 38 *
          ((100vw - 320px) / 910)
      );
  }

  .department__location {
    font-size: calc(
        10px + 6 *
          ((100vw - 320px) / 910)
      );
  }

  .department__title {
    font-size: calc(
        14px + 4 *
          ((100vw - 320px) / 910)
      );
  }

  .info__text {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 910)
      );
  }

  .info__title {
    font-size: calc(
        25px + 13 *
          ((100vw - 320px) / 910)
      );
  }

  .mail__address {
    font-size: calc(
        10px + 4 *
          ((100vw - 320px) / 910)
      );
  }

  .mail__title {
    font-size: calc(
        15px + 3 *
          ((100vw - 320px) / 910)
      );
  }

  .phone__numbers {
    font-size: calc(
        10px + 4 *
          ((100vw - 320px) / 910)
      );
  }

  .phone__title {
    font-size: calc(
        15px + 3 *
          ((100vw - 320px) / 910)
      );
  }

  .worktime__timetable {
    font-size: calc(
        10px + 4 *
          ((100vw - 320px) / 910)
      );
  }

  .worktime__title {
    font-size: calc(
        15px + 3 *
          ((100vw - 320px) / 910)
      );
  }
}

@media (max-width: 1024px) {
  .header__logo {
    width: 100%;
    text-align: center;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    background-color: gray;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 82px 15px 30px 15px;
    text-align: center;
  }

  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    min-height: 82px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #ffa;
    z-index: 2;
  }

  .menu._active {
    left: 0;
  }

  .menu._active::before {
    left: 0;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-menu {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #6c6c6c;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .page__services {
    margin-bottom: 100px;
  }

  #myLine {
    display: none;
  }

  .point {
    display: none;
  }

  .services__container > *:not(:last-child) {
    margin: 0 0 90px 0;
  }

  .tracking__desc {
    padding-top: 50px;
  }

  .tracking__img > .img-bg {
    position: relative;
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  .tracking__img > .img-phoneL {
    width: 350px;
    position: absolute;
    left: 60px;
  }

  .tracking__img > .img-phoneR {
    width: 550px;
  }

  .classification__desc {
    padding-top: 50px;
  }

  .compensation__desc__desc {
    padding-top: 50px;
  }

  .services-button {
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    padding-left: 50px;
    background-color: #fff;
  }

  .contact-us__info {
    right: 5px;
  }

  .contact-us__map {
    padding-right: 0px;
  }
}

@media (max-width: 1024px) and (max-width: 1230px) {
  .tracking__desc {
    padding-top: calc(
        1px + 49 *
          ((100vw - 320px) / 910)
      );
  }

  .tracking__img > .img-bg {
    width: calc(
        200px + 200 *
          ((100vw - 320px) / 910)
      );
  }

  .tracking__img > .img-phoneL {
    width: calc(
        250px + 100 *
          ((100vw - 320px) / 910)
      );
  }

  .tracking__img > .img-phoneR {
    width: calc(
        350px + 200 *
          ((100vw - 320px) / 910)
      );
  }

  .classification__desc {
    padding-top: calc(
        1px + 49 *
          ((100vw - 320px) / 910)
      );
  }

  .compensation__desc__desc {
    padding-top: calc(
        1px + 49 *
          ((100vw - 320px) / 910)
      );
  }

  .services-button {
    padding-top: calc(
        8px + 7 *
          ((100vw - 320px) / 910)
      );
  }

  .services-button {
    padding-right: calc(
        20px + 15 *
          ((100vw - 320px) / 910)
      );
  }

  .services-button {
    padding-bottom: calc(
        8px + 7 *
          ((100vw - 320px) / 910)
      );
  }

  .services-button {
    padding-left: calc(
        30px + 20 *
          ((100vw - 320px) / 910)
      );
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 869px) {
  .contact-us__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .contact-us__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-us__department {
    padding: 15px 10px 15px 30px;
  }

  .contact-us__info {
    top: 15%;
    height: 320px;
    max-width: 250px;
  }

  .contact-us__text {
    display: none;
  }

  .contact-us__title {
    position: absolute;
    top: -55px;
    left: 300px;
    font-size: 45px;
  }

  .department {
    height: 100%;
    width: 100%;
  }

  .department::before {
    top: 18px;
    width: 15px;
    height: 15px;
  }

  .department__title {
    font-size: 15px;
  }

  .info__text {
    margin-bottom: 10px;
  }

  .mail__title {
    margin-bottom: 5px;
  }

  .phone__title {
    margin-bottom: 5px;
  }

  .worktime__title {
    margin-bottom: 5px;
  }
}

@media (max-width: 869px) and (max-width: 1230px) {
  .contact-us__title {
    left: calc(
        50px + 250 *
          ((100vw - 320px) / 910)
      );
  }

  .contact-us__title {
    font-size: calc(
        30px + 15 *
          ((100vw - 320px) / 910)
      );
  }

  .department__title {
    font-size: calc(
        10px + 5 *
          ((100vw - 320px) / 910)
      );
  }
}

@media (max-width: 854px) {
  .info__body {
    padding: 5px 25px;
  }

  .info__body > *:not(:last-child, .info__title, .info__text) {
    margin: 0 0 5px 0;
  }
}

@media (max-width: 840px) {
  .tracking__img > .img-bg {
    width: 300px;
  }

  .tracking__img > .img-phoneL {
    width: 300px;
    left: 40px;
    top: -30px;
  }

  .tracking__img > .img-phoneR {
    width: 550px;
    position: absolute;
    top: -100px;
  }
}

@media (max-width: 840px) and (max-width: 1230px) {
  .tracking__img > .img-bg {
    width: calc(
        200px + 100 *
          ((100vw - 320px) / 910)
      );
  }

  .tracking__img > .img-phoneL {
    width: calc(
        200px + 100 *
          ((100vw - 320px) / 910)
      );
  }

  .tracking__img > .img-phoneR {
    width: calc(
        350px + 200 *
          ((100vw - 320px) / 910)
      );
  }
}

@media (max-width: 645px) {
  .services__classification {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .services__compensation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__tracking {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tracking__img {
    margin-bottom: 30px;
  }

  .tracking__img > .img-phoneR {
    width: 350px;
    position: absolute;
    top: -40px;
  }

  .tracking__img > .img-phoneL {
    width: 300px;
    left: 10px;
    top: -30px;
  }

  .services-button {
    max-width: 200px;
    padding: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
  }

  .desc__text > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 645px) and (max-width: 1230px) {
  .tracking__img > .img-phoneR {
    width: calc(
        250px + 100 *
          ((100vw - 320px) / 910)
      );
  }

  .tracking__img > .img-phoneL {
    width: calc(
        200px + 100 *
          ((100vw - 320px) / 910)
      );
  }
}

@media (max-width: 545px) {
  #map {
    height: 400px;
  }

  .contact-us__department {
    padding: 5px 2px;
    text-align: center;
    margin: 0;
  }

  .contact-us__info {
    display: none;
  }

  .contact-us__title {
    left: 200px;
  }

  .department::before {
    display: none;
  }

  .department__location {
    display: none;
  }

  .department__title {
    margin: 0;
  }
}

@media (max-width: 545px) and (max-width: 1230px) {
  .contact-us__title {
    left: calc(
        28px + 172 *
          ((100vw - 320px) / 910)
      );
  }
}

@media (max-width: 425px) {
  .contact-us__title {
    left: 100px;
    font-size: 40px;
  }
}

@media (max-width: 425px) and (max-width: 1230px) {
  .contact-us__title {
    left: calc(
        25px + 75 *
          ((100vw - 320px) / 910)
      );
  }

  .contact-us__title {
    font-size: calc(
        30px + 10 *
          ((100vw - 320px) / 910)
      );
  }
}

@media (max-width: 370px) {
  .contact-us__title {
    left: 15px;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    border-bottom: 1px solid black;
  }
}

._webp .point{ background-image: url(../img/services/point.webp); }